.content {
    padding: 43px 0 ;
}

.heading {
    text-align: center;
    font-size: 60px;
    transform: .3s;
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(180deg, #4A49BA 16.24%, #9B6CCB 119.8%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 11px;
    margin-bottom: 54px;
}

.SetInnerHead {
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(180deg, #7D7CF5 16.24%, #9B6CCB 43.66%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 25px;
}

.SetInnerPara {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

}

.set {
    border-radius: 27px;
    border: 2px solid rgba(203, 167, 234, 0.30);
    background: linear-gradient(180deg, rgba(233, 222, 245, 0.60) 0%, rgba(255, 255, 255, 0.60) 100%);
    backdrop-filter: blur(15px);
    width: 210px;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.img {
    width: 80px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 200px;
    padding: 11px 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    border-radius: 72px;
    background: linear-gradient(270deg, #CDABED 0%, #7D7CF5 100%);
    border: none;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin: 60px auto 40px auto;
    cursor: pointer;
}

@media (max-width:991px) {
    .heading {
        font-size: 36px;
    }

    .btn {
        font-size: 18px;
        width: 150px;
    }
}